body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Poppins', sans-serif;
}

main {
    font-family: 'Poppins', sans-serif; 
}

footer {
    font-family: 'Poppins', sans-serif;
}
/* Navbar */
nav {
    justify-content: space-between;
    background-color: #EBEDFF;
    border-bottom: 3px solid #1F298D;
}

.navbar-nav li a {
    
    font-size: 16px;
    font-weight: 600;
    color: #1F298D;
}

.navbar-nav .sign-in {
    border-right: 3px solid #1F298D;
}

.navbar-nav .sign-in a:hover {
    color: #5C66C6;
}

.navbar-nav .sign-up {
    background-color: #1F298D;
    border: 1px solid #1F298D;
    border-radius: 2%;
}

.navbar-nav .sign-up a {
    color: #EBEDFF;
}

.navbar-nav .sign-up a:hover {
    background-color: #EBEDFF;
    border: 1px #1F298D;
    color: #1F298D;
}

/* Banner */
.banner .container-fluid {
    margin-top: 6%;
    padding: 5%;
}

.banner .container-fluid .banner-caption h1 {
    text-align: right;
    font-size: 36px;
    padding-right: 3%;
    font-weight: 700;
    color: #1F298D;
    border-right: 5px solid #1F298D;
}

.banner .container-fluid .banner-caption h3 {
    font-size: 19px;
    padding-top: 10%;
    padding-bottom: 0%;
    color: #1F298D;
    font-weight: 700;
}

.banner .list-caption ul li {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    margin: 3%;
    margin-left: 13%;
}

.banner .list-caption ul li .number {
    width: 30px;
    height: 30px;
    background-color: #FEda15;
    border-radius: 50%;
    color: #fff;
}


.banner .list-caption ul li p {
    margin-left: 5%;
    color: #1F298D;
}

.banner .list-caption ul li p span {
    color: #1F298D;
    background-color: #fff;
}

.banner .btn {
    margin-left: 13%;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    background-color: #1F298D;
    color: #fff;
}

.banner .btn1:hover {
    background-color: #EBEDFF;
    border: 1px solid #1F298D;
    color: #1F298D;
}

/* footer */
footer {
    border-top: 3px solid #1F298D;
    background-color: #EBEDFF;
    color: #1F298D;
}

footer .footer-contact{
    padding: 2%;
}

footer .footer-contact h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

footer .footer-logo a span {
    font-size: 20px;
    font-weight: 700;
    color: #1F298D;
}

footer .footer-logo a img, .navbar-brand img {
    width: 45px;
    height: auto;
}

footer .social-media a{
    font-size: 24px;
    text-decoration: none;
    color: #1F298D;
    padding-right: 20px;
}

footer .footer-contact .alamat p {
    padding: 0;
    margin: 2px;
}

/* halaman index-login */

/* Profile account */
.navbar .dropdown img {
    width: 50px;
    border-radius: 50%;
}

.navbar .dropdown span {
    font-size: 16px;
    font-weight: 600;
    color: #1F298D;
}

.navbar .dropdown span:hover {
    color: #5C66C6;
}

.navbar .dropdown-menu {
    border: 1px 0,7 #5C66C6;
    background-color: #EBEDFF;
}

.navbar .dropdown-menu a {
    font-size: 16px;
    font-weight: 500;
    color: #1F298D;
}

.navbar .dropdown-menu a:hover {
    width: 93%;
    color: #EBEDFF;
    background-color: #5C66C6;
    border-radius: 0 4% 4% 0;
}

/* fitur */

.fitur {
    margin-bottom: 10%;
}

.fitur .box-fitur {
    width: 70%;
    height: 350px;
    background-color: #EBEDFF;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(92, 102, 198, 0.4);
}

.fitur h1 {
    color: #7B84E3;
    font-size: 26px;
    font-weight: 700;

}

.fitur h1 span {
    color: #1F298D;
}

.fitur .box-fitur .box-ilustration {
    width: 90%;
    height: 50%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

.fitur .box-fitur img {
    width: 100%;
}

.fitur .box-fitur .img3, .img2, .img1 {
    width: 80%;
}

.fitur .box-fitur p {
    margin-top: 7%;
    font-size: 20px;
    font-weight: 600;
    color: #1F298D;
}

.fitur .box-fitur a {
    margin-top: 7%;
    font-size: 18px;
    border-radius: 10px;
    background-color: #1F298D;
    color: #EBEDFF;
}

.fitur .box-fitur a:hover {
    background-color: #7B84E3;
    color: #fff;
    border: 1px solid #1F298D;
}